<div class="contactdetailsModal modal fade" id="contactdetailsModal" tabindex="-1" role="dialog" aria-labelledby="contactdetailsModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="contactdetailsModal">Contact Details</h5>
                <button type="button" class="close" id="dismismodal" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <dl class="row">
                    <dt class="col-sm-4">Id</dt>
                    <dd class="col-sm-8"><p id="id"></p> </dd>

                    <dt class="col-sm-4">First Name</dt>
                    <dd class="col-sm-8">
                        <p id="firstName"></p>
                    </dd>

                    <dt class="col-sm-4">Last Name</dt>
                    <dd class="col-sm-8">
                        <p id="lastName"></p>
                    </dd>


                    <dt class="col-sm-4">Gender</dt>
                    <dd class="col-sm-8">
                        <p id="gender"></p>
                    </dd>

                    <dt class="col-sm-4">Email</dt>
                    <dd class="col-sm-8"> <p id="email"></p></dd>

                    <dt class="col-sm-4">Phone number</dt>
                    <dd class="col-sm-8"><p id="phoneNumber"></p></dd>

                    <dt class="col-sm-4">Reason</dt>
                    <dd class="col-sm-8">
                        <p id="reason"></p>
                    </dd>

                    <dt class="col-sm-4">long text</dt>
                    <dd class="col-sm-8">
                        <p id="body"></p>
                    </dd>
                </dl>
            </div>
        </div>
    </div>
</div>
