@{
    ViewData["Title"] = "Contacts";
}
<div class="text-center">
    <a class="btn btn-primary float-end" id="btnnewcontact">Add New Contact</a>
    <table id="contacttable" class="table table-striped" style="width:100%">
        <thead>
            <tr>
                <th>Id</th>
                <th>Full Name</th>
                <th>Gender</th>
                <th>Email</th>
                <th>Reason</th>
                <th>Info</th>
            </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
</div>
@await Html.PartialAsync("_Partials/ContactDetailsModal.cshtml")
@await Html.PartialAsync("_Partials/AddContactDetailsModal.cshtml")
@section scripts{
    <script src="~/Scripts/Contact.js"></script>
}
